Source: perfsonar-traceroute-viewer
Section: net
Priority: optional
Maintainer: Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.6
Homepage: http://www.perfsonar.net/
Vcs-Git: git://github.com/perfsonar/psTracerouteViewer
Vcs-Browser: https://github.com/perfsonar/psTracerouteViewer

Package: perfsonar-traceroute-viewer
Architecture: all
Depends: apache2, perl, perfsonar-common,
 libperfsonar-esmond-perl, libdata-validate-ip-perl,
 libdate-manip-perl, libsocket6-perl, libdatetime-perl,
 libdatetime-timezone-perl, libcgi-pm-perl, ${misc:Depends}
Description: viewer for traceroute measurements
 psTracerouteViewer is a library and a cgi script for viewing traceroute data
 stored in perfSONAR measurement archive.
